/* This file is for your main application css. */

@import "./reset.css";

body {
  --blue-3: #5ED0FA;
  --cyan-3: #54D1DB;
  --pink-3: #A368FC;
  --red-3: #F86A6A;
  --yellow-3: #FADB5F;
  --green-3: #65D6AD;

  --blue-7: #127FBF;
  --cyan-7: #0E7C86;
  --pink-7: #690CB0;
  --red-7: #AB091E;
  --yellow-7: #CB6E17;
  --green-7: #147D64;
}

.empexlogo {
  width: 800px;
  margin: auto;
}

.empexlogo svg {
  width: 800px;
  height: auto;
}
